@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.container {
    max-width: 1440px;
    min-height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
}
